@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Roboto:wght@300&family=Rubik:wght@400;500&display=swap');

body {
	margin: 0;
   	font-family: Roboto, sans-serif;
   	font-weight: 300;
}

main {
	padding-top: 7rem;
   	padding-left: 30px;
  	padding-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

nav {
	background-color: #bb0000;
	display: flex;
    padding: 20px 30px 20px 30px;
    border-bottom: 1px solid #bb0000;
    position: fixed;
  	top: 0;
  	z-index: 1000;
  	width: calc(100% - 60px);
}

nav a {
    text-decoration: none !important;
    color: black;
}

#home {
	font-family: Outfit, sans-serif;
	font-weight: 800;
	color: white;
	font-size: 30px;
}

#login-container {
	margin-left: auto;
}

#login {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    height: 37px;
    width: 85px;
    font-size: 0.9rem;
}

#login:hover {
	background-color: #8c0000;
}

#settings-button {
	color: white;
	font-size: 22px;
	margin-right: 15px;
	vertical-align: middle;
	cursor: pointer;
}

#logo {
    height: 15rem;
    width: 15rem;
    border: 5px solid #8a8a8a;
    border-radius: 50%;
    display: block;
    margin: 2.5rem auto 0 auto;
}

#large-header {
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    display: inline;
}

#dashboard-button {
    position: relative;
    padding-left: 3rem;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    background: #bb0000;
    border: 0;
    border-radius: 8px;
    margin-right: 1rem;
    height: 3.5rem;
    width: 14.5rem;
    cursor: pointer; 
}

#dashboard-button:hover {
	background-color: #8c0000;
}

#dashboard-button .fas {
    position: absolute;
    left: 10%;
    top: 20%;
    font-size: 32px;
}

#features-button {
    background-color: transparent;
    font-family: Rubik, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: black;
    border: 4px solid #bb0000;
    border-radius: 8px;
    margin-right: 1rem;
    height: 3.5rem;
    width: 10rem;
    cursor: pointer;
}

#buttons {
	margin-left: auto;
	margin-right: auto;
}

footer {
	margin-top: 15%;
}

footer > span {
    z-index: 9999;
    position: absolute;
    padding-top: 13%;
    padding-left: 5%;
    color: white;
}

footer > svg {
    z-index: -1;
    display: block;
}

.textbox {
	padding-left: 8px;
    margin-bottom: 5px;
    height: 35px;
    width: 100%;
    max-width: 100%;
    border: 1px solid #8c8989;
    border-radius: 3px;
}

.login-form-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 35px;
}

.login-form {
	display: flex;
	flex-flow: column;
	gap: 10px;
}

.login-form .textbox {
	width: 425px;
}

.login-button {
	background-color: #bb0000;
	color: white;
	font-size: 15px;
	height: 40px;
	width: 437px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.login-button:hover {
	background-color: #8c0000;
}

.login-button > i {
	margin-right: 10px;
}

.terms {
	cursor: pointer;
}

.error-message {
	color: #bb0000;
	font-size: 12px;
	margin: 0;
}

.form-header {
	margin-bottom: 10px;
}

.page-header {
	margin-bottom: 0px;
	font-family: Outfit, sans-serif;
	font-weight: 800;
	font-size: 40px;
}

#group-forms {
	margin-top: 30px;
}

.join-group-form {
	display: flex;
	justify-content: center;
}

.join-button {
	background-color: #bb0000;
	color: white;
	font-size: 15px;
	height: 40px;
	width: 225px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 0px;
}

.create-button {
	background-color: gold;
	color: black;
	font-size: 15px;
	height: 40px;
	width: 385px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.divider {
	border-bottom: 1px solid #ebebeb;
}

#chores-decoration {
	width: 20%;
}

#group-body {
	display: flex;
	justify-content: space-evenly;
}

#groupcode {
	margin-top: 5px;
}

.add-chore-form {
	display: inline-block;
	text-align: center;	
}

.page-centered {
	align-items: center;
}

#dashboard-header {
	display: flex;
}

#dashboard-header:after {
	flex: 1;
  	content: '';
}

#dashboard-code  {
	flex: 1;
	font-family: Outfit, sans-serif;
	font-weight: 400;
	font-size: 25px;
	margin-top: auto;
	margin-bottom: auto;
}

#dashboard-code > b {
	font-weight: 800;
}

.dashboard-header {
	font-family: Outfit, sans-serif;
	font-weight: 800;
	font-size: 40px;
}

.chore-container {
	display: grid;
	grid-column-gap: 50px;
	grid-template-rows: auto auto auto;
	background-color: #ebebeb;
	padding: 10px;
	margin: 0 250px 0 250px;
	border-radius: 3px;
}

.chore {
	background-color: #c2c0c0;
  	border: 1px solid #c2c0c0;
  	padding: 20px;
  	font-family: Outfit, sans-serif;
	font-weight: 500;
  	font-size: 20px;
  	text-align: left;
  	margin: 5px 0 5px 0;
  	border-radius: 8px;
}

#profile {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

#profile > img {
	height: 8rem;
    width: 8rem;
    border: 5px solid #515257;;
    border-radius: 50%;
    cursor: pointer;
}

#add-chore-button {
	background-color: #bb0000;
	color: white;
	font-size: 15px;
	height: 30px;
	width: 200px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin: 0 250px 5px auto;
}

#add-chore-button:hover {
	background-color: #8c0000;
}

#leaderboard-button, #chat-button {
	background-color: gold;
	color: black;
	font-size: 15px;
	height: 40px;
	width: 437px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin: auto;
}

#leaderboard-button:hover {
	background-color: #edcb09;
}

#chat-button {
	background-color: #bb0000;
	color: white;
	margin-top: 5px;
}

#chat-button:hover {
	background-color: #8c0000;
}

#dashboard-separator {
	margin: 40px 250px 40px 250px;
	border-width: 3px;
}
